{% load static %}
<html>
	<head>
		<title>OBB | About</title>
			<link rel="stylesheet" href="{% static 'css/style.css'  %}">
	</head>

	<body>
		<div id="head">
		<h1 id="hdid">Online Blood Blank</h1>
		<h4 id="sbid"><i>Let &apos; s save lives</i></h4>
		<a href="about.html"></a>
		</div>
		<h3>ABOUT US</h3>
		<p>
			Blood donation and Blood Transfusion are crucial for saving people's lives.Blood banks suffer freequent shortage of blood.So it will consume lot of time for the blood donation process.For avoiding this kind of problems here is a solution as a site ONLINE BLOOD BANK.This is a user friendly site which can be use any time when need blood.In these site we just need to enter the BLOOD GROUP and LOCATION.This site will show you list of  nearest available doners and their details, with the same blood group.we can directly contact with them.So we can sussesfully transfer blood with in shortest time period.
		</p>
	</body>
	</head>
</html>
