{% load static %}
<html>
	<head>
		<title>Register</title>
			<link rel="stylesheet" href="{% static 'css/style.css'  %}">
	</head>
	<body>
		<div id="head">
			<h1 id="hdid">Online Blood Blank</h1>
			<h4 id="sbid"><i>Let&apos;s save lives</i></h4>
		</div>
		<div id="srch">
		<div>
			<br><br><br>
						<h3>Let&apos;s find you a donor  !!</h3>
			<form>
						Blood Group:<br>
						<input type="text" name="bldgrp"> <br>
						<br>
						Your current Location:<br>
						<input type="text" name="loc"> <br>
						<br><br>
						<input type="submit" value="Search" id="srbtn">
			</form>
		</div>
	</body>
</html>
